In [9]:
import pandas as pd
import numpy as np
import investpy as inv

%matplotlib inline

In [13]:
import os
os.chdir("C:\\Users\\dalto\\Desktop\\Estágio\\Data Science")

dol = pd.read_excel("dolprofit.xlsx")
dol["Date"] = pd.to_datetime(dol["Date"]).dt.normalize()
dol

,Date,Abertura,Máxima,Mínima,Fechamento,BollingerSup,BollingerInf
0,2007-05-16,1985.0,1985.5,1954.0,1956.0,2062.50,1985.05
1,2007-05-17,1954.5,1969.5,1953.5,1954.5,2068.42,1971.08
2,2007-05-18,1955.0,1972.0,1955.0,1963.0,2070.48,1962.12
3,2007-05-21,1956.0,1961.0,1940.0,1940.5,2074.92,1948.83
4,2007-05-22,1942.0,1948.0,1934.5,1945.5,2075.32,1939.18
...,...,...,...,...,...,...,...
3546,2021-09-17,5269.0,5358.0,5261.5,5297.0,5369.31,5133.79
3547,2021-09-20,5329.0,5387.0,5316.5,5338.0,5358.32,5140.28
3548,2021-09-21,5320.0,5346.5,5271.5,5280.0,5337.41,5161.73
3549,2021-09-22,5265.0,5326.5,5257.0,5299.0,5340.07,5160.98
3550,2021-09-23,5270.0,5318.0,5263.0,5309.5,5346.97,5161.02

In [14]:
inicio ='16/05/2007'
hoje="22/09/2021"

In [15]:
XX=dol

BR1Y = pd.DataFrame()
BR1Y["BR1Y"] = inv.get_bond_historical_data('Brazil 1Y', from_date=inicio, to_date =hoje)['Close']
BR1Y.index.name = "Date"
BR1Y.reset_index(inplace = True)
BR1Y["Date"] = pd.to_datetime(BR1Y["Date"])
XX=pd.merge(XX, BR1Y,on = "Date", how='outer')

BR3Y = pd.DataFrame()
BR3Y["BR3Y"] = inv.get_bond_historical_data('Brazil 3Y', from_date=inicio, to_date =hoje)['Close']
BR3Y.index.name = "Date"
BR3Y.reset_index(inplace = True)
BR3Y["Date"] = pd.to_datetime(BR3Y["Date"])
XX=pd.merge(XX, BR3Y,on = "Date", how='outer')

BR10Y = pd.DataFrame()
BR10Y["BR10Y"] = inv.get_bond_historical_data('Brazil 10Y', from_date=inicio, to_date =hoje)['Close']
BR10Y.index.name = "Date"
BR10Y.reset_index(inplace = True)
BR10Y["Date"] = pd.to_datetime(BR10Y["Date"])
XX=pd.merge(XX, BR10Y,on = "Date", how='outer')

US3M = pd.DataFrame()
US3M["US3M"] = inv.get_bond_historical_data('U.S. 3M', from_date=inicio, to_date =hoje)['Close']
US3M.index.name = "Date"
US3M.reset_index(inplace = True)
US3M["Date"] = pd.to_datetime(US3M["Date"])
XX=pd.merge(XX, US3M,on = "Date", how='outer')

US5Y = pd.DataFrame()
US5Y["US5Y"] = inv.get_bond_historical_data('U.S. 5Y', from_date=inicio, to_date =hoje)['Close']
US5Y.index.name = "Date"
US5Y.reset_index(inplace = True)
US5Y["Date"] = pd.to_datetime(US5Y["Date"])
XX=pd.merge(XX, US5Y,on = "Date", how='outer')
                                            
US10Y = pd.DataFrame()
US10Y["US10Y"] = inv.get_bond_historical_data('U.S. 10Y', from_date=inicio, to_date =hoje)['Close']
US10Y.index.name = "Date"
US10Y.reset_index(inplace = True)
US10Y["Date"] = pd.to_datetime(US10Y["Date"])
XX=pd.merge(XX, US10Y,on = "Date", how='outer')

BRENT = pd.DataFrame()
BRENT["BRENT"] = inv.get_commodity_historical_data( 'Brent Oil', from_date=inicio, to_date =hoje)['Close']
BRENT.index.name = "Date"
BRENT.reset_index(inplace = True)
BRENT["Date"] = pd.to_datetime(BRENT["Date"])
XX=pd.merge(XX, BRENT,on = "Date", how='outer')

OURO = pd.DataFrame()
OURO["OURO"] = inv.get_commodity_historical_data( 'Gold', from_date=inicio, to_date =hoje)['Close']
OURO.index.name = "Date"
OURO.reset_index(inplace = True)
OURO["Date"] = pd.to_datetime(OURO["Date"])
XX=pd.merge(XX, OURO,on = "Date", how='outer')

dxy = pd.DataFrame()
dxy["DXY"] = inv.get_index_historical_data('US Dollar Index', from_date=inicio, country = "United States", to_date =hoje)['Close']
dxy.index.name = "Date"
dxy.reset_index(inplace = True)
dxy["Date"] = pd.to_datetime(dxy["Date"])
XX=pd.merge(XX, dxy,on = "Date", how='outer')

mxn = pd.DataFrame()
mxn["MXN"] = inv.get_currency_cross_historical_data('USD/MXN', from_date=inicio, to_date ='01/09/2021')['Close']
mxn.index.name = "Date"
mxn.reset_index(inplace = True)
mxn["Date"] = pd.to_datetime(mxn["Date"])
XX=pd.merge(XX, mxn,on = "Date", how='outer')

TRY = pd.DataFrame()
TRY["TRY"] = inv.get_currency_cross_historical_data('USD/TRY', from_date=inicio, to_date ='01/09/2021')['Close']
TRY.index.name = "Date"
TRY.reset_index(inplace = True)
TRY["Date"] = pd.to_datetime(TRY["Date"])
XX=pd.merge(XX, TRY,on = "Date", how='outer')

GBAD = pd.DataFrame()
GBAD["GBAD"] = inv.get_currency_cross_historical_data('GBP/AUD', from_date=inicio, to_date ='01/09/2021')['Close']
GBAD.index.name = "Date"
GBAD.reset_index(inplace = True)
GBAD["Date"] = pd.to_datetime(GBAD["Date"])
XX=pd.merge(XX, GBAD,on = "Date", how='outer')

In [16]:
XX=XX.sort_values(by=['Date'])

In [17]:
XX["Date"] = pd.to_datetime(XX["Date"]).dt.normalize()
XX = XX.set_index("Date")
XX = XX.replace(0, np.NaN)
XX = XX.fillna(method = "ffill")
XX

,Abertura,Máxima,Mínima,Fechamento,BollingerSup,BollingerInf,BR1Y,BR3Y,BR10Y,US3M,US5Y,US10Y,BRENT,OURO,DXY,MXN,TRY,GBAD
Date,,,,,,,,,,,,,,,,,,
2007-05-16,1985.0,1985.5,1954.0,1956.0,2062.50,1985.05,10.912,10.470,10.119,4.7240,4.6310,4.716,68.01,660.2,82.16,10.7782,1.3255,2.3986
2007-05-17,1954.5,1969.5,1953.5,1954.5,2068.42,1971.08,10.904,10.200,9.927,4.7230,4.6820,4.760,70.27,656.2,82.32,10.8142,1.3260,2.3969
2007-05-18,1955.0,1972.0,1955.0,1963.0,2070.48,1962.12,10.915,10.250,9.968,4.7680,4.7320,4.806,69.42,661.0,82.20,10.8000,1.3262,2.4001
2007-05-21,1956.0,1961.0,1940.0,1940.5,2074.92,1948.83,10.899,10.250,9.868,4.8040,4.7160,4.788,70.49,662.9,82.36,10.7665,1.3222,2.3996
2007-05-22,1942.0,1948.0,1934.5,1945.5,2075.32,1939.18,10.895,10.200,9.794,4.8670,4.7650,4.832,69.52,659.1,82.39,10.7960,1.3290,2.4103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-19,5269.0,5358.0,5261.5,5297.0,5369.31,5133.79,8.715,9.462,11.135,0.0406,0.8616,1.363,75.34,1751.4,93.19,19.9820,8.2910,1.8684
2021-09-20,5329.0,5387.0,5316.5,5338.0,5358.32,5140.28,8.595,10.020,11.075,0.0300,0.8260,1.312,73.92,1763.8,93.28,19.9820,8.2910,1.8684
2021-09-21,5320.0,5346.5,5271.5,5280.0,5337.41,5161.73,8.535,9.810,10.815,0.0250,0.8341,1.328,74.36,1778.2,93.22,19.9820,8.2910,1.8684
2021-09-22,5265.0,5326.5,5257.0,5299.0,5340.07,5160.98,8.531,9.082,10.661,0.0300,0.8536,1.304,75.85,1767.8,93.49,19.9820,8.2910,1.8684
2021-09-23,5270.0,5318.0,5263.0,5309.5,5346.97,5161.02,8.531,9.082,10.661,0.0300,0.8536,1.304,75.85,1767.8,93.49,19.9820,8.2910,1.8684

In [18]:
print(XX.shape)
XX.isna().sum()

(4277, 18)

Abertura        0
Máxima          0
Mínima          0
Fechamento      0
BollingerSup    0
BollingerInf    0
BR1Y            0
BR3Y            0
BR10Y           0
US3M            0
US5Y            0
US10Y           0
BRENT           0
OURO            0
DXY             0
MXN             0
TRY             0
GBAD            0
dtype: int64

In [19]:
import os
os.chdir("C:\\Users\\dalto\\Desktop\\Estágio\\Data Science")

XX.to_excel('dados_investpyX.xlsx')
XX.to_csv('dados_investpy.csv')

In [30]:
search_result = inv.search_quotes(text='Iron Ore', products=['commodities'], countries=['United States'], n_results=1)
search_result.retrieve_historical_data(from_date=inicio, to_date =hoje)#["Close"]

              Open    High     Low   Close  Volume  Change Pct
Date
2010-10-25  145.00  145.00  145.00  145.00       0        0.76
2010-10-26  145.10  145.10  145.10  145.10       0        0.07
2010-10-27  144.50  144.50  144.50  144.50       0       -0.41
2010-10-28  144.00  144.00  144.00  144.00       0       -0.35
2010-10-29  147.50  147.50  147.50  147.50       0        2.43
...            ...     ...     ...     ...     ...         ...
2021-09-13  129.66  129.66  129.66  129.66       0       -2.64
2021-09-14  128.11  128.11  128.11  128.11       0       -1.20
2021-09-15  124.16  124.16  124.16  124.16       0       -3.08
2021-09-16  119.96  119.96  119.96  119.96       0       -3.38
2021-09-17  123.00  123.00  123.00  123.00       0        2.53

[2733 rows x 6 columns]