In [216]:
#pip install tweepy

In [20]:
import tweepy as tw
import pandas as pd
import nltk
from nltk.tokenize import TweetTokenizer
from bs4 import BeautifulSoup
import re
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
import os
os.chdir("C:\\Users\\dalto\\Desktop\\TCC\\Projeto")

In [22]:
consumer_key = 'Qkea9MJ2gz5RHczABY2Xsax0r'
consumer_secret = 'ULNLPhJyBNbk23gWECGRekAxJHk49SuiKHMYbz55U83SFRNOoQ'
access_token = '1483553041165037571-G4evKQ1uPCxWfEOYeY503opQksgsR5'
access_token_secret = 'AD1VM0SrYIdqJPjHgJHmMLZnYh49ktbx6JxGmZH8K2mCa'

auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tw.API(auth)

In [17]:
def Preprocessing(inst):
    inst = re.sub(r"http\S+", "", inst).lower().replace('.','').replace(';','').replace('-','').replace(':','').replace(')','')
    stopwords = set(nltk.corpus.stopwords.words('portuguese'))
    palavras = [i for i in inst.split() if not i in stopwords]
    return (" ".join(palavras))

def prep_tweets(tweet):
    
    tweet = BeautifulSoup(tweet, "html.parser").get_text()
    tweet = re.sub(r"[^a-zA-Zà-úÀ-Ú0-9]", " ", tweet.lower())
    return tweet

In [7]:
IDD = []
# Captura últimos 200 tweets de cada pessoa da lista
for ID in userID:
    IDtweets = api.user_timeline(screen_name=ID, 
                                count = 200,
                                include_rts = False,
                                tweet_mode = 'extended')
    # Extrai apenas o texto dos tweets
    for tweet in IDtweets:
        IDD.append(tweet.full_text)
        #print(tweet.full_text)

In [243]:
#Dtweets = [Preprocessing(i) for i in IDD]
#Dtweets = [prep_tweets(tweet) for tweet in IDD]

In [8]:
cv = CountVectorizer()  #Converte uma coleção de textos em uma matrix de tokens
count_matrix = cv.fit_transform(IDD) #Dtweets

In [ ]:
# Cria DF
words = pd.DataFrame(cv.get_feature_names(), columns = ['word'])
# Soma as palavras e converte em uma lista
words["count"] = count_matrix.sum(axis = 0).tolist()[0]
words = words.sort_values("count", ascending = False).reset_index(drop = True)
palavras = words.word
PP = []
for p in palavras:
    if (len(p) == 5 and (p[-1] == '3' or p[-1] == '4' or p[-1] == '5' or p[-1] == '6')) or (len(p) == 6 and (p[-2:] == '11')):
        PP.append(p)
PP

In [246]:
PP.sort()
len(PP)

135

In [10]:
PPX =pd.DataFrame(PP)
PPX.to_csv('acoes310122.csv', index = False)

In [260]:
IDT =[]
Itweets = api.user_timeline(screen_name="jocanetoo", 
                                count = 200,
                                include_rts = False,
                                tweet_mode = 'extended')
    
for tweet in Itweets:
        IDT.append(tweet.full_text)
        
cv = CountVectorizer()  #Converte uma coleção de textos em uma matrix de tokens
count_matrix = cv.fit_transform(IDT) #Dtweets

twords = pd.DataFrame(cv.get_feature_names(), columns = ['word'])
twords["count"] = count_matrix.sum(axis = 0).tolist()[0]
twords = twords.sort_values("count", ascending = False).reset_index(drop = True)

tpal = twords.word
TPP = []
for p in tpal:
    if (len(p) == 5 and (p[-1] == '3' or p[-1] == '4' or p[-1] == '5' or p[-1] == '6')) or (len(p) == 6 and (p[-2:] == '11')):
        TPP.append(p)

TTPP = pd.DataFrame(TPP, columns = ['word'])

merge = TTPP.merge(twords, how = 'inner', on= 'word') #, left_index=True

merge

In [25]:
userIDT = ["BTGoldDigital", "ducavendish", "jocanetoo","cafecomferri", "FariaLimaElevat", "albuquerque_af", "CerizePedro",
         "Tiagogreis", "mendlowicz", "jlbraga", "ThiagoNigro", "nonoinvestidor", "PLynchado", "lnunesjr", "andy_kawamoto",
         "BruceBarbosa88", "RafaelPaschoare", "luizfalvesjr", "Economesteter", "MatInvest1", "CapivaraCorp", "helocruz",
         "jcamargonyc", "LucasCostaAT", "HeglerHenri", "HugoQueiroz_", "RaphaFigueredo", "vowtz", "9vaes", "israel_massa",
         "renoirvieira", "sergiosanita", "EvertonLeblon", "InvestWolf", "CarlosAlc1955", "Small__Caps", "uorrembife",
         "Cacomaia", "FelipePontesPB", "_rschweitzer", "mfbohm", "MeninRibeiro", "quantzed_CFA", "pedrostrader", 
         "THIAGOSALOMAO", "f_alperowitch","fernandofferre", "Dalberini", "rafaelfreitaso", "mcmanocall","dicadehoje7", 
         "Matheusbsanches", "cesaralpaiva", "voloch_m", "FabioJBacha", "edsviewz", "rodrigo_natali","DaltonLBS","BerchtFabien",
          "marcosaravalle", "rafaelbboa", "HerreraCondor", "olongoprazo", "portalsmallcaps", "joaosandrini", "ArthurLulaM",
          "khalildelima1", "thiagomd_1","Dgermanovix", "quantzed", "PaolaMelloM", "Bulltoptrader", "sara_invest", "alisc", 
           "Carlos_Parente2", "bmcnewstv", "joaocontador11", "bussoladoinves", "trademapapp", "valorinveste",
           "victorkj", "TrigonoCapital", "lourau_joao", "mrmarketb3", "cbojlesen", "alphatradingApp", "musashinvest", 
           "insiderreportbr" ]


IDT = []
for ID in userIDT:
    #print(ID)
    IDtweets = api.user_timeline(screen_name=ID, 
                                count = 50, #100, #200
                                include_rts = False,
                                tweet_mode = 'extended')
    for tweet in IDtweets:
        IDT.append(tweet.full_text)
        #print(tweet.full_text)  
    cv = CountVectorizer()  #Converte uma coleção de textos em uma matrix de tokens
    count_matrix = cv.fit_transform(IDT) #Dtweets 
        
    twords = pd.DataFrame(cv.get_feature_names(), columns = ['word'])
    twords["count"] = count_matrix.sum(axis = 0).tolist()[0]
    twords = twords.sort_values("count", ascending = False).reset_index(drop = True)
    
    tpal = twords.word
    TPP = []
    for p in tpal:
        if (len(p) == 5 and (p[-1] == '3' or p[-1] == '4' or p[-1] == '5' or p[-1] == '6')) or (len(p) == 6 and (p[-2:] == '11' or p[-2:] == '33')):
            TPP.append(p)
        if (len(p) == 6 and (p[-1] == '3' or p[-1] == '4' or p[-1] == '5' or p[-1] == '6') and (p[0] == '#')) or (len(p) == 7 and (p[-2:] == '11' or p[-2:] == '33') and p[0] == '#'):
            k=p[1:]
            print(p)
            TPP.append(k)
    
    
TTPP = pd.DataFrame(TPP, columns = ['word'])
                    
TTPP = TTPP.merge(twords, how = 'inner', on= 'word') #, left_index=True    

TTPP.head(10)

BTGoldDigital
ducavendish
jocanetoo
cafecomferri
FariaLimaElevat
albuquerque_af
CerizePedro
Tiagogreis
mendlowicz
jlbraga
ThiagoNigro
nonoinvestidor
PLynchado
lnunesjr
andy_kawamoto
BruceBarbosa88
RafaelPaschoare
luizfalvesjr
Economesteter
MatInvest1
CapivaraCorp
helocruz
jcamargonyc
LucasCostaAT
HeglerHenri
HugoQueiroz_
RaphaFigueredo
vowtz
9vaes
israel_massa
renoirvieira
sergiosanita
EvertonLeblon
InvestWolf
CarlosAlc1955
Small__Caps
uorrembife
Cacomaia
FelipePontesPB
_rschweitzer
mfbohm
MeninRibeiro
quantzed_CFA
pedrostrader
THIAGOSALOMAO
f_alperowitch
fernandofferre
Dalberini
rafaelfreitaso
mcmanocall
dicadehoje7
Matheusbsanches
cesaralpaiva
voloch_m
FabioJBacha
edsviewz
rodrigo_natali
DaltonLBS
BerchtFabien
marcosaravalle
rafaelbboa
HerreraCondor
olongoprazo
portalsmallcaps
joaosandrini
ArthurLulaM
khalildelima1
thiagomd_1
Dgermanovix
quantzed
PaolaMelloM
Bulltoptrader
sara_invest
alisc
Carlos_Parente2
bmcnewstv
joaocontador11
bussoladoinves
trademapapp
valorinveste
victorkj
TrigonoCapital
lourau_joao
mrmarketb3
cbojlesen
alphatradingApp
musashinvest
insiderreportbr

    word  count
0  petr4     22
1  vale3     17
2  tasa4     10
3  fesa4      9
4  azul4      7
5  prio3      7
6  simh3      6
7  ceab3      6
8  embr3      6
9  tupy3      6

In [26]:
TTPP2 = pd.DataFrame()
TTPP2['word']= TTPP['word']
TTPP2['count']= TTPP.iloc[:,-1]
TTPP2

       word  count
0     petr4     22
1     vale3     17
2     tasa4     10
3     fesa4      9
4     azul4      7
..      ...    ...
136   gndi3      1
137  hgcr11      1
138  hgpo11      1
139   fras3      1
140  gbio33      1

[141 rows x 2 columns]

In [29]:
header = ["word", "count"]
TTPP2.to_csv('Tacoes110322.csv', index = False) #, columns=header

In [27]:
TTPP2.describe()

            count
count  141.000000
mean     2.595745
std      2.688544
min      1.000000
25%      1.000000
50%      2.000000
75%      3.000000
max     22.000000

In [28]:
#TTPP3=TTPP2[TTPP2['count']> int(TTPP2.describe().loc['75%'])] 
TTPP3=TTPP2[TTPP2['count']> int(TTPP2.describe().loc['mean'] + TTPP2.describe().loc['std'])]
TTPP3

     word  count
0   petr4     22
1   vale3     17
2   tasa4     10
3   fesa4      9
4   azul4      7
5   prio3      7
6   simh3      6
7   ceab3      6
8   embr3      6
9   tupy3      6
10  amer3      6

In [30]:
TTPP3.to_csv('TOPacoes110322.csv', index = False)

In [10]:
k="arroz33"
l=k[1:]
l[0]=='r'

True